.dashboard {
    font-size: 40px;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    /* background-image: url('cork.jpg'); */
    font-family: 'Bebas Neue', 'Lucida Sans';
    z-index: 30;
}

.title {
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.catIndex {
    position: absolute;
    padding-top: 300px;
    width: 100%;
    height: fit-content;
    display: grid;
    gap: 75px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 225px 225px 225px;
    justify-content: center;
    background-image: url('../image/cork.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    z-index: 20;
}

.plus-box {
    height: auto;
    width: auto;
    display: flex;
    border: lightgray dashed 2px;
    border-radius: 5px;
}

.plus-sign {
    width: 50px;
    position: relative;
    top: 41%;
    left: 44%;
    color: gray;
}

.plus-sign:hover {
    cursor: pointer;
}

.dash-header {
    position: absolute;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.dashboard-header {
    position: relative;
    margin-top: 35px;
    padding: 25px;
    width: 60%;
    height: 20%;
    z-index: 30;
    text-align: center;
    border-radius: 30px;
}

.todays-date {
    height: 50px;
    font-size: 56px;
    z-index: 30;
    width: 100%;
}

.categories-header {
    height: 50px;
    font-size: 32px;
    z-index: 30;
    padding-top: 65px;
    margin-top: 24px;
}

#txt {
    display: inline;
}