.goal-index {
    background-color: #f6f6f6;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.no-wrap {
    white-space: nowrap;
}

.goal-index p {
    margin-top: 16px;
    font-size: 28px;
}

.add-goal-button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.goal-form-render {
    display: none;
}

.goal-form input {
    border: 1px transparent solid;
    box-sizing: border-box;
    padding: 5px;
}

.active {
    display: flex;
}

.goal-ul {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
    border-radius: 6px;
    width: 100%;
    max-width: 300px;
    background-color: #f0f0f0;
}

.goal-index-item {
    border-radius: 10px;
    background-color: #f6f6f6;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.goal-index-item:hover .x-box {
    position: absolute;
    align-self: flex-end;
    height: 20px;
    width: 20px;
    background-image: url('../image/real-ecks.png');
    background-position: center;
    background-size: contain;
}

.row-me-up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.goal-attempt-buttons {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

.add-attempt-button {
    width: 50%;
    border-right: 1px solid gray;
    color: gray;
    padding: 2px 0;
    cursor: pointer;
}

.minus-attempt-button {
    width: 50%;
    color: gray;
    padding: 2px 0;
}

.goal-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-bar {
    height: 15px;
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

.percent {
    position: absolute;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
}

.progress-completed {
    background-color: green;
    height: 100%;
}

.goal-form-container {
    width: 100%;
}

.goal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.goal-button {
    border: none;
    height: 30px;
    box-sizing: border-box;
}

.expected-input {
    width: 30%;
}

.bottom-margin {
    margin-bottom: 5px;
}

.error-text {
    color: red;
}

.submit-or-cancel {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.fa-plus {
    width: 50px;
    height: 50px;
}

.add-goal-button:hover {
    transform: scale(1.4)
}
