@media only screen and (min-width: 1537px) {
    .three { top: 350px; margin-left: 160px; }
    .four { top: 350px; margin-left: 188px; }
    .five { top: 167px; left: 1125px; }
    .six { left: 1356px; }
    .seven { margin-left: 264px; }
    .eight { left: 460px; }
}

@media only screen and (min-width: 1600px) {
    .three { top: 355px; margin-left: 130px; }
    .four { top: 355px; margin-left: 158px; }
    .five { top: 142px; left: 1207px; }
    .six { left: 1226px; }
    .seven { margin-left: 220px; }
    .eight { left: 430px; }
}

@media only screen and (min-width: 1920px) {
    .three { top: 353px; margin-left: 205px; }
    .four { top: 353px; margin-left: 233px; }
    .five { top: 137px; left: 1495px; }
    .six { left: 1515px; }
    .seven { margin-left: 314px; }
    .eight { left: 480px; }
}

@media only screen and (max-width: 1440px) {
    .three { top: 355px; margin-left: 85px; }
    .four { top: 355px; margin-left: 113px; }
    .five { left: 1063px; }
    .six { left: 1082px; }
    .seven { margin-left: 171px; }
}

@media only screen and (max-width: 1280px) {
    .three { top: 355px; margin-left: 31px; }
    .four { top: 355px; margin-left: 59px; }
    .five { left: 920px; }
    .six { left: 933px; }
    .seven { margin-left: 125px; }
    .eight { left: 375px; }
}