.splash-page {
  height: 100vh;
}

.hero-section {
  min-height: 100%;
}

.about-header {
  padding: 100px 0;
  text-align: center;
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.about-section {
  min-height: 100%;
  background-color: rgb(185, 211, 253);
}

.splash-text {
    font-family: inherit;
    color: white;
    font-size: 40px;
}

.first {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
}

.second {
    position: relative;
    top: -50%;
    left: -50%;
}

.first-title {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 50%;
}

.second-title {
    position: relative;
    top: -25%;
    left: -50%;
}

.splash-title {
    animation: fadeIn3 9s;
    font-size: 65px;
    white-space: nowrap;
    color: white;
    display: flex;
    justify-content: center;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 0px;
}

.column div {
    margin: 10px;
}

.hidden {
  display: none
}

.float-down-1 {
    animation: fadeIn1 3s;
}

.float-down-2 {
    animation: fadeIn2 6s;
}

.float-down-3 {
    animation: fadeIn3 9s;
    background-color: teal;
    border: none;
    cursor: pointer;
}

.footer {
    display: flex;
    background: rgb(185, 211, 253);
    position: fixed;
    height: 60px;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    opacity: 0.5;
    -moz-box-shadow: 5px 6px 3px 3px #ccc;
    -webkit-box-shadow: 5px 6px 3px 3px #ccc;
    box-shadow: 5px 6px 3px 3px rgb(77, 77, 77);
}


.footer-icons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
}

.github {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-right: 25px;
  cursor: pointer;
}

.linkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-right: 25px;
  cursor: pointer;
}

.profiles {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  row-gap: 100px;
  justify-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-top: 20px;
}

.profile-info a {
  margin: 0 11px;
  color: black;
}

.profile-name {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.profile-image {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  width: 300px;
  height: 300px;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        z-index: -1;
        opacity: -1;
    }

    to {
        z-index: 1;
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    from {
        z-index: -2;
        opacity: -2;
    }

    to {
        z-index: 2;
        opacity: 1;
    }
}

@media screen and (max-width: 1500px) {
  .splash-title {
    font-size: 60px;
  }

  .splash-text {
    font-size: 37.5px;
  }
}

@media screen and (max-width: 1400px) {
  .splash-title {
    font-size: 50px;
  }

  .splash-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 1250px) {
  .splash-title {
    font-size: 40px;
  }

  .splash-text {
    font-size: 32.5px;
  }
}

@media screen and (max-width: 1000px) {
  .splash-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 700px) {
  .splash-title {
    font-size: 30px;
  }

  .splash-text {
    font-size: 30px;
  }
}

@media screen and (max-width: 750px) {
  .splash-title {
    font-size: 25px;
  }

  .splash-text {
    font-size: 25px;
  }
}