.attempt {
    padding: 16px 0px;
    margin: 0px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    color: gray
}

.attempt:last-child {
    border: none;
}

.attempt-time {
    text-align: right;
}

.attempt-remove {
    background: transparent url("../icons/remove.png") no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: none;
    transition: .2s;
}