.attempt {
    padding: 16px 0px;
    margin: 0px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    color: gray;
}


.attempt:nth-last-child(3) {
    border: none;
}


.attempt:nth-last-child(2) {
    border: none;
}

.attempt:last-child {
    border: none;
}

.attempt-time {
    text-align: right;
}

.attempt-remove {
    background: transparent url("../icons/remove.png") no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    border: none;
    transition: .2s;
}

.question-note-form {
    background-color: white;
    padding: 9px 16px;
    /* min-height: 36px; */
    display: flex;
}

.question-note-input {
    padding: 8px 8px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid white;
}

.question-note-input:hover {
    outline: none;
    border: 1px solid lightgrey;
}

.question-note-input:focus {
    outline: none;
    border: 1px solid lightgrey;
}