.dashboard {
    font-size: 40px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.title {
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   

}

.catIndex {
    margin-top: 300px;
    width: 90%;
    height: 90%;
    display: grid;
    gap: 30px;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 40% 40% 40% 40%;
}

#cat1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px rgb(160, 160, 160);
    background: rgb(185, 211, 253);
}
#cat2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px rgb(160, 160, 160);
    background: rgb(185, 211, 253);
}
#cat3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px rgb(160, 160, 160);
    background: rgb(185, 211, 253);
}
#cat4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px rgb(160, 160, 160);
    background: rgb(185, 211, 253);
}

.plus-box {
    height: auto;
    width: auto;
}

.plus-sign {
    width: 50px;
}

.dash-header {
    position: absolute;
    margin-top: 15px;
    margin-left: 15px;
    width: 100vw;
    height: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}