.goal-index {
    background-color: #f6f6f6;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}

.goal-index p {
    margin-top: 48px;
    font-size: 28px;
}