.goal-index {
    background-color: #f6f6f6;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;

}

.goal-index p {
    margin-top: 48px;
    font-size: 28px;
}

.add-goal-button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.goal-form-render {
    display: none;
}

.active {
    display: flex;
}