.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

/* task modal */
.cat-modal {
    background-color: white;
    height: 400px;
    width: 300px;
    border: 2px lightgray solid;
    border-radius: 5px;
}

.cat-form {
    padding: 20px;
}

.cat-modal h1 {
    color: #3aaf9f;
    font-family: 'Alata', sans-serif;
    padding-bottom: 20px;

}

.cat-modal h3 {
    color: #3aaf9f;
    font-family: 'Alata', sans-serif;
    padding-bottom: 20px;
}


i {
    font-size: 50px;
    height: 40px;
    width: 40px;
}
