.navbar {
    display: flex;
    /* background: rgb(185, 211, 253); */
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 50;
}

.logo {
    font-size: 36px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    */
    font-family: 'Alata', 'Lucida Sans';
    margin-top: 10px; 
    margin-left: 15px;
}

.logo:hover {
    cursor: pointer;
}

.thumbnail {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-right: 30px;
    border-radius: 25px;
}

.thumbnail:hover {
    cursor: pointer;
}

.dropdown-logout {
    padding: 12px;
    background: white;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.dropdown-profile {
    padding: 12px;
    background: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.dropdown-parent {
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 900;
}

#dropdown {
    right: 20px;
    width: 150px;
    display: none;
    position: absolute;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-list li:hover {
    color: red;
    cursor: pointer;
}

.days-counter {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    font-family: 'Bebas Neue', 'Lucida Sans';
    font-size: 32px;
}

.login-signup {
    position: relative;
    padding-right: 16px;
    padding-top: 16px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-family: 'Alata', sans-serif;
}

.login, .signup {
    width: 100px;
    padding: 8px;
    background-color: rgb(122, 174, 252);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s;
    box-shadow: 0 0 5px black;
}

.login:hover, .signup:hover {
    background-color: rgb(99, 159, 250);
}

.onsplash {
    background-color: transparent;
}

.fa.fa-plus-circle {
    cursor: pointer;
}