#sidebar {
    background-color: white;
    width: 16%;
    margin-top: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#sidebar-toggle-button {
    position: absolute;
    left: 0.2%;
    margin-top: 12px;
    margin-left: 12px;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    background-image: url("./menu.png");
    transition: .2s;
}

#sidebar-toggle-button:hover {
    background-color: #f9f9f9;
    transform: rotate(10deg);
}

#sidebar-categories {
    margin-top: 60px;
    margin-left: 12px;
}

.sidebar-category {
    padding: 12px 6px;
    border-bottom: 1px solid lightgrey;
    border-radius: 2px;
    transition: .2s;
    margin-right: 12px;
    font-weight: bold;
}

.sidebar-category:hover {
    cursor: pointer;
    background-color: #f3f3f3;
}
