.splash-text {
    font-family: 'Lobster Two', cursive;
}

.first {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
}

.second {
    position: relative;
    top: -50%;
    left: -50%;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 0px;
}

.column div {
    margin: 20px;
}

.float-down-1 {
    animation: fadeIn1 3s;
    font-size: 20px;
}

.float-down-2 {
    animation: fadeIn2 6s;
    font-size: 20px;
}

.float-down-3 {
    animation: fadeIn3 9s;
    font-size: 20px;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        z-index: -1;
        opacity: -1;
    }

    to {
        z-index: 1;
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    from {
        z-index: -2;
        opacity: -2;
    }

    to {
        z-index: 2;
        opacity: 1;
    }
}